html{
    background-color: black;
}

img{
    width: 800px;
    height: auto;
    border: 5px solid white;
}

h1{
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

p{
    color: white;
    font-family: 'Playfair Display', serif;
}

div{
    text-align: center;
    margin-top: 200px;
}